.student-gallary-section {
  /* z-index: 3; */
}


.student-gallary-section .student-gallary-img-container {
  width: 500px;
  height: 500px;
  border-radius: 25px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}

.student-gallary-img-container img {
  display: block;       /* Removes extra inline space */
  width: 100%;          /* Ensures full container width */
  height: 100%;         /* Ensures full container height */
  object-fit: cover;    /* Crops to fill container without distortion */
}



 .student-gallary-img-container:hover {
  z-index: 100 !important;
}






.student-gallary-img-container img {
  transition: transform 0.5s ease; /* Smooth transition for the zoom effect */
}

.student-gallary-img-container:hover img {
  transform: scale(1.2); /* Zoom the image to 120% on hover */
}



.student-gallary-section .student-gallary-img-container img {
  width: 100%;
  height: 100%;
}