@font-face {
    font-family: 'Anton';
    src: url('./assets/fonts/Anton/Anton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'PoppinsSemiBoldItalic';
    src: url('./assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProtestStrike';
    src: url('./assets/fonts/Protest_Strike/ProtestStrike-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




.font-anton {
    font-family: 'Anton', sans-serif !important;
}


.font-poppins-semi-bold-italic {
    font-family: 'PoppinsSemiBoldItalic', sans-serif !important;
}

.font-protest-strike {
    font-family: 'ProtestStrike', sans-serif !important;
}



img {
    border: 0;
    max-width: 100%;
}



a {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #fff;
    outline: none;
    text-decoration: underline;
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    a:active {
        background-color: transparent;
    }
}

p {
    margin: 0 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0 0 20px;
    font-weight: 600;
    text-transform: uppercase;
}

h1,
h2 {
    font-size: 32px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

h4 {
    font-size: 22px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

h6 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}



video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#video:after {
    content: '';
    opacity: 0.75;
    background: #4096ee;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4096ee 0%, #39ced6 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4096ee 0%, #39ced6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4096ee 0%, #39ced6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4096ee', endColorstr='#39ced6', GradientType=0);
    /* IE6-9 */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.wrapper-background-dark:after {
    background: #222;
    opacity: 0.95;
}

.section-inner {
    padding: 20px 30px 0;
}



#fp-nav ul li a span {
    display: none;
}



.header1 {
    padding: 20px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999999;
}

.header2 {
    padding: 20px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999999;
}

.container-fluid {
    padding: 0 20px;
}

a#logo {
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar {
    padding: 0;
}

.navbar-toggle {
    display: none;
}

.navbar-nav {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.navbar-nav li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    opacity: 0.9;
}

.navbar-nav li a:after {
    content: '';
    display: block;
    height: 2px;
    background: #fff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
    margin-top: 4px;
}

.navbar-nav li a:hover:after,
.navbar-nav li.active a:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.navbar-nav li a:hover {
    opacity: 1;
}

.navbar-nav li.active a {
    opacity: 1;
}

.collapse:not(.show) {
    display: block;
}

/*==============================================
03. SOCIAL ICONS CSS
================================================*/
#social-icons {
    padding: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    z-index: 199;
}

.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icons li {
    display: block;
    margin: 1px 0px;
}

.social-icons li a {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
}

.social-icons li a:hover {
    color: #1e1e1e;
    background-color: #fff;
}


.welcome-box {
    font-size: 20px;
    line-height: 1.7;
}

.welcome-box p.desc {

    margin: 0 auto 30px;
    color: #fff;
}

.welcome-box .btn {
    margin-top: 10px;
}







.about-contentbox {
    margin-top: 80px;
    text-align: center;
    line-height: 1.8;
}

.about-contentbox span {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
}

.about-contentbox h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
}

.facts-list {
    margin-top: 30px;

}

.facts-list .item {
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    width: 152px;
    height: 162px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    padding: 30px 0px;
    background: rgba(62, 62, 62, 0.573);
}

.counter-box span {
    font-size: 26px;
    font-weight: 700;
}

.counter-icon {
    font-size: 30px;
    margin-bottom: 10px;
    opacity: 0.75;
}

.facts-list .item:hover {
    background: #fff;
    color: #1e1e1e;
}

.facts-list .owl-dots {
    margin-bottom: 30px;
}

.count-number,
.counted {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
}

/*==============================================
08. CONTACT BLOCK CSS
================================================*/
::-webkit-input-placeholder {
    color: #fff !important;
    opacity: 1;
}

::-moz-placeholder {
    color: #fff !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #fff !important;
    opacity: 1;
}

:-moz-placeholder {
    color: #fff !important;
    opacity: 1;
}

.input-field {
    margin-bottom: 15px;
}

.form-control {
    height: 50px;
    color: #fff;
    border: none;
    background: rgba(250, 250, 250, 0.05);
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 10px;
    padding: 4px 22px;
    font-size: 14px;
    margin-bottom: 30px;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(250, 250, 250, 1);
    color: #fff;
}

.index .form-control.form-control-dark {
    background: rgba(250, 250, 250, 0.75);
    color: #fff;
}

.index .form-control.form-control-dark:focus {
    background: rgba(54, 40, 158, 0.85);
    color: #fff;
}

.index .form-control.form-control-dark::-webkit-input-placeholder {
    color: #fff !important;
}

.index .form-control.form-control-dark::-moz-placeholder {
    color: #fff !important;
}

.index .form-control.form-control-dark:-ms-input-placeholder {
    color: #fff !important;
}

.index .form-control.form-control-dark:-moz-placeholder {
    color: #fff !important;
}

.form-control.form-control-dark:focus {
    background: rgba(0, 0, 0, 0.2);
}

.form-control.form-control-dark {
    background: rgba(0, 0, 0, 0.1);
    color: #222;
    border: none;
}

.form-control.form-control-dark::-webkit-input-placeholder {
    color: #222 !important;
    opacity: 0.7;
}

.form-control.form-control-dark::-moz-placeholder {
    color: #222 !important;
    opacity: 0.7;
}

.form-control.form-control-dark:-ms-input-placeholder {
    color: #222 !important;
    opacity: 0.7;
}

.form-control.form-control-dark:-moz-placeholder {
    color: #222 !important;
    opacity: 0.7;
}

textarea.form-control {
    height: 123px;
    padding-top: 15px;
}

.contact-section .btn {
    width: 100%;
}

.contact-box {
    text-align: left;
}

.contact-box h4 {
    font-size: 24px;
}

.contact-box h4:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #fff;
    margin: 12px 0;
}

.contact-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    background: rgba(250, 250, 250, 0.25);
    border-radius: 10px;
    padding: 30px;
    font-weight: 700;
}

.contact-row i {
    width: 55px;
    font-size: 30px;
    display: block;
}

.contact-row i.fa-envelope {
    font-size: 25px;
}





* {
    box-sizing: border-box;
}


html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body {
    font: 16px/1.6 'Raleway', Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    background: #222;
}

html,
body,
#root {
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}


body {
    cursor: url('./assets/images/mouse.png') 39 39, auto;
}

#App {
    overflow-y: scroll;
}







/* :after pseudo-element overlay */
.video-overlay {
    content: '';
    opacity: 0.75;
    background: linear-gradient(to bottom, #4096ee 0%, #39ced6 100%);
    position: absolute;
    /* Positioned within #video */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    /* Allow interactions to pass through */
    z-index: 1;
    height: 100vh;
    width: 100vw;
    /* Overlay layer */
}






.custom-pagination {
    margin-top: 15px;
    /* Adjusts the space between Swiper and pagination */
    display: flex;
    justify-content: center;
}



.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #fff !important;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    margin: 0 5px !important;
    background: rgba(255, 255, 255) !important;
    border-radius: 3px !important;
    cursor: pointer;
}




::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}



.main-video-responsive {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 65vh;
    border-radius: 15px;
}

.main-video-responsive iframe {
    width: 100%;
    height: 100%;
}

.normal-video-responsive {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 50vh;
    border-radius: 15px;
}

.normal-video-responsive iframe {
    width: 100%;
    height: 100%;
}


.main-works-title {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}


/* Extra Small: <576px */
@media (max-width: 575.98px) {
    .main-video-responsive {
        height: 45vh;
    }

    .normal-video-responsive {
        height: 30vh;
    }

    .what-they-say-menu .testimonial-item {
        width: 70vw !important;
    }

    .main-works-subtitle h1 {
        font-size: 2.5rem !important;
    }

}

/* Small: 576px ≤ width < 768px */
@media (min-width: 576px) and (max-width: 767.98px) {
    .main-video-responsive {
        height: 50vh;
    }

    .normal-video-responsive {
        height: 35vh;
    }

    .what-they-say-menu .testimonial-item {
        width: 70vw !important;
    }

    .main-works-subtitle h1 {
        font-size: 4rem !important;
    }

}

/* Medium: 768px ≤ width < 992px */
@media (min-width: 768px) and (max-width: 991.98px) {
    .main-video-responsive {
        height: 55vh;
    }

    .normal-video-responsive {
        height: 40vh;
    }
}

/* Large: 992px ≤ width < 1200px */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main-video-responsive {
        height: 60vh;
    }

    .normal-video-responsive {
        height: 45vh;
    }
}

/* Extra Large: 1200px ≤ width < 1400px */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .main-video-responsive {
        height: 65vh;
    }

    .normal-video-responsive {
        height: 50vh;
    }
}

/* XXL: ≥1400px */
@media (min-width: 1400px) {
    .main-video-responsive {
        height: 70vh;
    }

    .normal-video-responsive {
        height: 55vh;
    }
}


.pin-spacer {
    margin: 0px !important;
}

.main-works-subtitle h1 {
    font-size: 5.5rem;
}


.what-they-say-menu .testimonial-item,
.what-they-say-menu-spring .testimonial-item {
    width: 520px !important;
    background: #494848;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow:
        0 0.1rem 0.2rem rgb(0 0 0 / 20%),
        0 0.1rem 0.5rem rgb(0 0 0 / 30%),
        0 0.2rem 1.5rem rgb(0 0 0 / 40%);
}

/* Extra Small: <576px */
@media (max-width: 575.98px) {


    .what-they-say-menu .testimonial-item {
        width: 70vw !important;
    }
}

/* Small: 576px ≤ width < 768px */
@media (min-width: 576px) and (max-width: 767.98px) {


    .what-they-say-menu .testimonial-item {
        width: 70vw !important;
    }
}



.what-they-say-menu {
    max-width: 90vw;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 1rem 0;
    position: relative;
    padding: 1.5rem 0;
    overflow: hidden;
}


.what-they-say-menu-spring {
    width: 100% !important;
}


.loop-slider .inner {

    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);

}


.loop-slider:hover .inner {
    animation-play-state: paused;
}


@keyframes loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}




.section2 svg {
    width: 50vw;
    opacity: .7;
    position: absolute;
    top: 0px;
    left: 0px;
}

.section2 path {
    fill: transparent;
    overflow: visible;
}




.styled-path {
    font-size: 8px;
    fill: #0f0f0f;
    stroke: #0f0f0f;
    stroke-width: 0.6;
    font-family: arial, cursive;
    font-weight: bold;
    text-shadow: 0 0 30px #e60073;
}




.color-inherit {
    color: inherit !important;
}



.section2-slider-container {
    height: 550px;
}


.section2-slider-container .gallery-slide-item {
    height: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
    width: 320px !important;
    overflow: hidden;
}


.section2-slider-container .gallery-slide-item img {
    width: 100%;
    height: 100%;
}

.gallery-slide-item.swiper-slide {
    opacity: 1 !important;
}

.gallery-swiper {
    width: 100%;
    /* Optional: Adjust height as needed */
    /* height: 300px; */
}

.gallery-slide-item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

/* .gallery-swiper .swiper-slide-next::after,.gallery-swiper .swiper-slide-prev::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #589cc685;
    z-index: 1000;
    box-shadow: rgb(32 11 191) 0px 12px 10px 10px;
}
 */
.gallery-slide-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* Optional: Rounded corners */
    filter: none;
    /* Removes any filters */
    opacity: 1;
    /* Ensures full opacity */
}

.gallery-slide-item img {
    transition: transform 0.5s ease;
    /* Smooth transition for the zoom effect */
}

.gallery-slide-item:hover img {
    transform: scale(1.2);
    /* Zoom the image to 120% on hover */
}

/* Scale the active slide */
.swiper-slide-active {
    transform: scale(1.05);
    z-index: 10;
    /* Ensure it stays above other slides */
}

/* Optional: Style neighboring slides */
.swiper-slide-prev,
.swiper-slide-next {
    opacity: 0.7;
    transform: scale(0.95);
}



.text-shadow-1 {
    text-shadow: 0 2px 20px #000000e0;
}


.scrollArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
}

.bottom-element {
    width: 100vw;
    z-index: 3;
    background-color: black;
    --gradient-start: rgb(2, 2, 120) !important;
    --gradient-end: black;
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    transition: background 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.bottom-page-sticky-element {
    will-change: transform;
}